/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    line-height: 1.6;
    height: 100vh;
    display: flex;
    align-items: center;
}
