/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;

    // Couleurs du projet
    --color-primary: #f2545b;

    --color-bg-primary: #000;
    --color-bg-secondary: #3e92cc;
}
