/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;

    --font-size-content: 1.8rem;

    /// Grosseur des textes
    --font-size-h1: 10rem;
    --font-size-h2: 7rem;
    --font-size-h3: 3.5rem;
}
